.textLabels {
    position: absolute;
    background-color: rgba(0,0,0,0);
    font-family: Impact, Charcoal, sans-serif;
    font-size: 24pt;
    height: 30px;
}

.uwTheme {
    top: 110px;
    color: purple;
}

#gameTitleDuringRound {
    left: 250px;
}

#roundNumber {
    left: 900px;
}

#gameWorldContainer {
    width: 100%;
    text-align: center;
}

#gameWorld {
    border: 1px solid white;
    display: inline;
}

#playerOneScore {
    top: 640px;
    left: 325px;
    color: DarkSlateBlue;
}

#playerTwoScore {
    top: 640px;
    left: 525px;
    color: LimeGreen;
}

#playerThreeScore {
    top: 640px;
    left: 725px;
    color: Red;
}

#playerFourScore {
    top: 640px;
    left: 925px;
    color: Gold;
}

#roundTimer {
    color: Black;
    top: 110px;
    left: 590px;
    font-size: 32pt;
    display: none;
}

#transitionTitle {
    top: 150px;
    left: 540px;
    font-size: 48px;
}
